terraform {
  backend "s3" {
    bucket         = "replace-with-terraform-state-bucket"
    key            = "ssvd/dev/terraform.tfstate"
    region         = "ap-south-2"
    dynamodb_table = "replace-with-terraform-lock-table"
    encrypt        = true
  }
}
